.header{
    background-color: rgb(244, 64, 64);
    height: 60px;
    display: flex;
    justify-content: space-around;
    color: rgb(221, 236, 220);
    position: sticky;
    top: 0px;
}
.header h2{
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav{
    width: 600px;
}
.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}