.inputs{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputs form{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
input{
    height: 30px;
    width: 260px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(223, 58, 46);

}
textarea{
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(223, 58, 46);

}
textarea:focus{
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(223, 58, 46);
    outline: 2px solid rgb(223, 58, 46);

}
input:focus{
    height: 30px;
    width: 260px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid rgb(223, 58, 46);
    outline: 2px solid rgb(223, 58, 46);
}
button{
    height: 40px;
    width: 90px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(223, 58, 46);
    background-color:rgb(223, 58, 46) ;
    
}
button:hover{
    height: 40px;
    width: 90px;
    color: rgb(234, 50, 50);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(223, 58, 46);
    background-color:rgb(255, 239, 236) ;
    
}